# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Будет удалено .gitignore
Будет удалено .idea/
Будет удалено SearchInFile.iml
Будет удалено out/
/src/ru/gva/SearchFile/asd.java
Будет удалено .idea/artifacts/
Будет удалено .idea/compiler.xml
Будет удалено .idea/description.html
Будет удалено .idea/encodings.xml
Будет удалено .idea/gradle.xml
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/uiDesigner.xml
Будет удалено .idea/vcs.xml
Будет удалено .idea/workspace.xml
Будет удалено SearchFile.iml
Будет удалено out/production/SearchFile/ru/gva/SearchFile/res/
